* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

input {
     width:100%;
     display:block
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.header {
  text-align: center;
}

.list {
  display: flex;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
}

.editTaskInput {
  width: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: baseline;
  flex-direction: column;
}

.toDoInput {
  width: 400px;
  margin-bottom: 15px;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.task,
.button {
  margin-right: 10px;
}

.task {
  text-align: center;
  margin-bottom: 5px;
}

.editOrUpdateContainer {
  display: flex;
}

.buttonContainer {
  display: flex;
}

.completedContainer {
  text-align: center;
}

.addButton {
  margin-bottom: 10px;
}